#message{
    background: url("../../assets/images/ball_on_tee2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    .head-text {
        padding-top: 6rem;
        font-size: 6rem;
        font-weight: 800;
        text-align: center;
        color: var(--white-color);
        text-shadow: -2px 0 black;
    
        @media screen and (max-width: 900px) {
            font-size: 3.75rem;
        }
    
        @media screen and (max-width: 450px) {
            font-size: 3rem;
        }
    }

    .background {
        background-color: rgba(4, 57, 39, 0.25);
        height: 100vh;
    }

    .email-form {
        width: 60%;
        flex-direction: column;
        margin: 1rem 2rem;

        div {
            width: 100%;

            margin: 0.75rem 0;
            border-radius: 10px;
            cursor: pointer;
            background-color: var(--primary-color);

            transition: all 0.3s ease-in-out;

            input,
            textarea {
            width: 100%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
            background-color: var(--white-color);

            font-family: var(--font-base);
            color: var(--secondary-color);
            outline: none;
            }

            textarea {
            height: 170px;
            }

            &:hover {
            box-shadow: 0 0 25px var(--primary-color);
            }
        }

        .p-text {
            color: #282828;

            @media screen and (max-width: 900px) {
                font-size: 1.55rem;
            }
        
            @media screen and (max-width: 450px) {
                font-size: 1.25rem;

            }
        }

        button {
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            border-radius: 10px;
            border: none;
            background-color: var(--secondary-color);
            font-weight: 500;
            font-size: 2rem;
            color: var(--white-color);
            text-shadow: -1px 0 black;
            outline: none;
            margin: 2rem 0 0 0;
            font-family: var(--font-base);
            cursor: pointer;
        }
    }
}