#adminHome {
  background: url("../../assets/images/golf_course_sky2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .head-text-home {
    padding-top: 8rem;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    background-color: rgba(105, 105, 105, 0.1);
    text-shadow: -2px 0 black;

    @media screen and (max-width: 920px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3.5rem;
    }
  }

  button {
    padding: 0.75rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 2rem;
    color: var(--white-color);
    text-shadow: -1px 0 black;
    outline: none;
    font-family: var(--font-base);
    cursor: pointer;
  }
}
