.app__modal__backdrop {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.app__modal__container {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  box-shadow: 24;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
