#tournament {
    padding: 6rem 2rem 0rem;

    background: url("../../assets/images/sand_trap.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    .background {
        background-color: rgba(105, 105, 105, 0.5);
    }

    h2 {
        font-size: 6rem;
        font-weight: 800;
        text-align: center;
        color: black;
        text-shadow: -1px 0 black;
    
        @media screen and (max-width: 900px) {
            font-size: 4rem;
        }
    
        @media screen and (max-width: 450px) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        color: black;
        text-shadow: -1px 0 black;
    
        @media screen and (max-width: 900px) {
            font-size: 4rem;
        }
    
        @media screen and (max-width: 450px) {
            font-size: 3rem;
        }
    }

    h4, h5 {
        font-size: 2.5rem;
        font-weight: 800;
        text-align: center;
        color: black;
        text-shadow: -1px 0 black;
    
        @media screen and (max-width: 900px) {
            font-size: 4rem;
        }
    
        @media screen and (max-width: 450px) {
            font-size: 3rem;
        }
    }

    button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: var(--darkGreen-color);
        font-weight: 500;
        font-size: 1.75rem;
        color: var(--white-color);
        text-shadow: -1px 0 black;
        outline: none;
        margin: 2rem;
        font-family: var(--font-base);
        cursor: pointer;
    }

    .trip-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }
    
        @media screen and (max-width: 450px) {
            flex-direction: column;
        }
    }
}