.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.cursor-item {
  cursor: pointer;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  overflow-y: auto;

  li {
    margin: 0 0.2rem;
    cursor: pointer;
    font-size: 1.3rem;
    flex-direction: column;
    text-align: center;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      margin-bottom: 5px;
    }

    a {
      color: var(--darkGreen-color);
      text-shadow: -1px 0 black;
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 500;
      padding: 0.5rem 1rem;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--white-color);
        background-color: var(--darkGreen-color);
        border-radius: 10px;
      }
    }
  }

  @media screen and (max-width: 920px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url('../../assets/images/white_paper.jpg');
    background-size: cover;
    background-position: center;

    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;

      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 0.8rem;

        a {
          color: var(--darkGreen-color);
          text-shadow: -1px 0 black;
          text-decoration: none;
          font-size: 1.75rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--white-color);
            background-color: var(--darkGreen-color);
            padding: 0.5rem 1rem;
            border-radius: 10px;
            border: none;
          }
        }
      }
    }

    @media screen and (min-width: 920px) {
      display: none;
    }
  }

  @media screen and (min-width: 920px) {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    li {
      margin: 1rem;

      a {
        color: var(--yellow-color);
        text-shadow: -1px 0 black;
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }
  @media screen and (min-width: 920px) {
    display: none;
  }
}
