@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

:root {
  --font-base: "Old Standard TT", serif;

  --primary-color: #B4CF66;
  --secondary-color: #FF5A33;
  --green-color: #44803F;
  --darkGreen-color: #146152;
  --yellow-color: #FFEC5C;
  --black-color: #030303;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
