#newTrip {
  background: url("../../assets/images/birdseye.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .background {
    background-color: rgba(105, 105, 105, 0.5);
  }

  .head-text {
    padding-top: 7rem;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: var(--white-color);
    text-shadow: -1px 0 black;

    @media screen and (max-width: 900px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  .app__newTrip-form {

    h2 {
      font-size: 2.75rem;
      font-weight: 600;
      text-align: center;
      color: var(--white-color);
      margin: 2rem;

      @media screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
    
    div{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
        input {
        display: block;
        margin: 1rem 2rem;
        width: 23rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--white-color);

        font-size: 1.5rem;
        font-weight: 800;
        font-family: "Old Standard TT", serif;
        color: #282828;

        transition: all 0.3 ease-in-out;

        padding: 0.95rem;
        border: none;
        border-radius: 7px;
        background-color: var(--white-color);

        font-family: var(--font-base);
        color: var(--darkGreen-color);
        outline: none;

        @media screen and (max-width: 900px) {
          width: 90%;
        }
      }
  }

  button {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);
      font-weight: 500;
      font-size: 2rem;
      color: var(--white-color);
      text-shadow: -1px 0 black;
      outline: none;
      margin: 2rem;
      font-family: var(--font-base);
      cursor: pointer;
      
      @media screen and (max-width: 450px) {
        margin: 1rem;;
        font-size: 1.75rem;
      }
    }
  }
}