#rules {
  background: url('../../assets/images/golf_green2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-height: 100%;

  .background {
    background-color: rgba(4, 57, 39, 0.8);
  }

  .delete {
    font-size: 3rem;
    color: white;
    padding: 8px;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    outline-style: solid;
    outline-color: var(--gray-color);
  }

  .new-rule {
    background-color: rgba(167, 122, 101, 0.5);
    padding: 2rem 5rem;
  }

  .title-switcher {
    display: flex;
    color: var(--gray-color);
    justify-content: space-around;
    padding-top: 8rem;

    .topic {
      border: 2px solid var(--gray-color);
      padding: 1rem;
      font-size: 2rem;
      background-color: var(--yellow-color);
      cursor: pointer;
      text-align: center;
    }
    .current {
      background-color: inherit;
      border: none;
      color: var(--white-color);
    }
    @media screen and (max-width: 900px) {
      padding-top: 7rem;
    }

    @media screen and (max-width: 450px) {
      padding-top: 8rem;
    }
  }

  .head-text {
    padding-top: 6rem;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-shadow: -1px 0 black;

    @media screen and (max-width: 900px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  .secondary-text {
    padding-top: 2rem;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-shadow: -2px 0 black;

    @media screen and (max-width: 1250px) {
      font-size: 3.75rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  .h4-text {
    margin: 0.75rem;
    padding: 0.25rem 1rem;
    color: var(--yellow-color);
    text-shadow: -1px 0 black;
    border-bottom: 5px;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
  }

  .rules-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem;

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;

      h6 {
        padding: 0.25rem 0.5rem;
      }
    }

    .head-text {
      padding-top: 6rem;
      font-size: 6rem;
      font-weight: 800;
      text-align: center;
      color: var(--white-color);
      text-shadow: -1px 0 black;

      @media screen and (max-width: 900px) {
        font-size: 5rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 3rem;
      }
    }

    .secondary-text {
      padding-top: 2rem;
      font-size: 5rem;
      font-weight: 800;
      text-align: center;
      color: var(--white-color);
      text-shadow: -2px 0 black;

      @media screen and (max-width: 1250px) {
        font-size: 3.75rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 3rem;
      }
    }

    .rules-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0.25rem;

      h4 {
        margin: 0.75rem;
        padding: 0.25rem 1rem;
        color: var(--yellow-color);
        text-shadow: -1px 0 black;
        border-bottom: 5px;
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
      }

      @media screen and (max-width: 900px) {
        font-size: 1.5rem;

        h6 {
          padding: 0.25rem 0.5rem;
        }
      }

      @media screen and (max-width: 450px) {
        font-size: 1.5 rem;
      }
    }

    .p-text {
      font-size: 2.25rem;
      font-weight: 300;
      text-align: center;
      text-justify: inter-word;
      color: var(--white-color);
      text-shadow: -1px 0 black;
      line-height: 1.5;
      margin: 10px 10rem;

      @media screen and (max-width: 900px) {
        font-size: 1.55rem;
        margin: 0 70px;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
        margin: 10px;
      }
    }
  }

  .info-text {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-justify: inter-word;
    color: var(--white-color);
    text-shadow: -1px 0 black;
    line-height: 1.5;
    margin: 40px 300px 15px;

    @media screen and (max-width: 900px) {
      font-size: 1.6rem;
      margin: 40px 70px 10px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.25rem;
      margin: 20px 10px 10px;
    }
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--white-color);
    text-shadow: -1px 0 black;
    padding-top: 1rem;

    h3 {
      font-size: 2.75rem;
      font-weight: 500;
      text-align: center;
      color: var(--white-color);
      text-shadow: -1px 0 black;
      padding-top: 1rem;

      @media screen and (max-width: 900px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
      }
    }

    @media screen and (max-width: 450px) {
      font-size: 1.25rem;
    }
  }

  button {
    padding: 0.75rem 1.5rem;
    margin: 1.5rem 0 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 2rem;
    color: var(--white-color);
    text-shadow: -1px 0 black;
    outline: none;
    font-family: var(--font-base);
    cursor: pointer;
  }
}

.video-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.video-div iframe {
  margin-top: 20px;
  @media screen and (max-width: 800px) {
    width: 50%;
    height: auto;
  }
}
