#home {
  padding: 3rem 2rem 0rem;

  background: url('../../assets/images/golf_ball_green.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head-text-home {
    padding-top: 4rem;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-shadow: -2px 0 black;

    @media screen and (max-width: 900px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--darkGreen-color);
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--white-color);
    text-shadow: -1px 0 black;
    outline: none;
    margin: 2rem 0 0 0;
    font-family: var(--font-base);
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    background: url('../../assets/images/golf_ball_green_center.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

.pdfs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.page {
  // display: flex;
  justify-content: center;
  align-items: center;
}

.page p {
  position: absolute;
  text-align: center;
  // right: 46%;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(2, 87, 66, 0.593);
}
