#announcement {
    background: url('../../assets/images/golf_beach2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-height: 100%;
  
    .background {
        background-color: rgba(105, 105, 105, 0.35);
        min-height: 100vh;
    }

    .head-text {
        padding-top: 6rem;
        font-size: 6rem;
        font-weight: 800;
        text-align: center;
        color: var(--white-color);
        text-shadow: -1px 0 black;
    
        @media screen and (max-width: 900px) {
          font-size: 5rem;
        }
    
        @media screen and (max-width: 450px) {
          font-size: 3rem;
        }
      }
}