#manageTrips {
  background: url('../../assets/images/bucket_of_balls.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .background {
    background-color: rgba(4, 57, 39, 0.8);
    min-height: 100vh;
  }

  .padding {
    padding-top: 6rem;
  }

  .active-trip {
    border:5px solid #FFEC5C;
  }

  .head-text {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-shadow: -2px 0 black;

    @media screen and (max-width: 1250px) {
      font-size: 3.75rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  button {
    padding: 0.5rem 1rem;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);
      font-weight: 500;
      font-size: 1.5rem;
      color: var(--white-color);
      text-shadow: -1px 0 black;
      outline: none;
      margin: 2rem;
      font-family: var(--font-base);
      cursor: pointer;
      
      @media screen and (max-width: 450px) {
        margin: 1rem;
        font-size: 1.75rem;
      }
  }
}
