#masterList {
  background: url("../../assets/images/bucket_of_balls.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .background {
      background-color: rgba(4, 57, 39, 0.8);
      min-height: 100vh;
  }

  .head-text {
    padding-top: 6rem;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: var(--white-color);
    text-shadow: -2px 0 black;

    @media screen and (max-width: 1250px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  .master-list {
    display: flex;
    justify-content: space-evenly;

    th,
    td {
      margin: 0.5rem;
      padding: 0.25rem 1rem;
      color: var(--yellow-color);
      text-shadow: -1px 0 black;
      font-size: 2.5rem;
      text-align: center;
    }

    td, a {
      margin: 0.25rem;
      color: var(--white-color);
      text-shadow: -1px 0 black;
      font-size: 2rem;
      text-decoration: none;

      .delete {
        font-size: 3rem;
        color: white;
        padding: 8px;
        background-color: red;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        outline-style: solid;
        outline-color: var(--gray-color);
      }

      .edit {
        font-size: 3rem;
        color: var(--white-color);
        padding: 8px;
        background-color: #6495ed;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        outline-style: solid;
        outline-color: var(--gray-color);
      }

      .hovertext {
        position: relative;
        border-bottom: 1px dotted black;
      }
      
      .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 55px;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 3px;
        font-size: 1rem;
        padding: 2px 0;
        transition: opacity 1s ease-in-out;
      
        position: absolute;
        z-index: 1;
        bottom: 235%;
        left: 50%;
        margin-left: -28px;
      }
      
      .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
      }

    }

    @media only screen and (max-width: 1250px) {
      thead th {
        display: none;
      }

      td {
        display: block;
        font-size: 3rem;
      }

      td:first-child {
        color: var(--yellow-color);
        font-size: 4rem;
      }
    }

    @media only screen and (max-width: 450px) {
      thead th {
        display: none;
      }

      td {
        display: block;
        font-size: 1.35rem;
      }

      td:first-child {
        color: var(--yellow-color);
        font-size: xx-large;
      }
    }
  }

  button {
      padding: 0.75rem 1.5rem;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);
      font-weight: 500;
      font-size: 2rem;
      color: var(--white-color);
      text-shadow: -1px 0 black;
      margin: 2rem;
      font-family: var(--font-base);
      cursor: pointer;
  }

  .flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}