#masterList {
    background: url("../../assets/images/white_paper.jpg");
    background-size: cover;
    background-position: center;
    height: 100rem;

    .head-text {
        padding-top: 6rem;
        font-size: 6rem;
        font-weight: 800;
        text-align: center;
        color: var(--white-color);
        text-shadow: -2px 0 black;
    
        @media screen and (max-width: 900px) {
            font-size: 3.75rem;
        }
    
        @media screen and (max-width: 450px) {
            font-size: 2rem;
        }
    }

    .master-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }
    
        @media screen and (max-width: 450px) {
            flex-direction: column;
        }
    }

    h6 {
        margin: 0.75rem;
        padding: 0.25rem 1rem;
        color: var(--white-color);
        text-decoration: underline;

        text-shadow: -1px 0 black;
        font-size: 2rem;
        text-align: center;
    }
}